---
layout: default
---
{%- include google-analytics.html -%}
{% include %}
{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<h1 id="posts-label">posts</h1>
<div class="container-fluid">
<ul class="posts">

  {%- for post in site.posts -%}

  <li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <div class="card">
      <div class="card-header tempting-azure-gradient">
        <a class="post-link" href="{{ post.url | relative_url }}">
        <h2 class="post-title">{{ post.title | escape }}</h2>
      </a>
      </div>

      <div class="card-body">

    <div class="post">
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </div>
    </div>
    <div class="card-footer">
      <div class="post-meta">
      <ul class="post-categories">
        {%- for tag in post.categories -%}
        <li>{{ tag }}</li>
        {%- endfor -%}
      </ul>
      <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
    </div>
    </div>
  </li>
  <br>
  {%- endfor -%}
</ul>

</div>

{%- endif -%}
